.task-container {
    background-color: rgb(68, 68, 68);
    margin: 8px 0;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(228, 215, 191);
}